footer
    ul
        li
            a.btn(href='https://www.github.com/layaxx' target="_blank" aria-label="GitHub" title="GitHub" rel="noreferrer")
                img(src="/assets/img/code.svg" alt="github" width="auto" height="auto")
        li
            a.btn(href='https://www.instagram.com/yannicklang_' target="_blank" aria-label="Instagram" title="Instagram" rel="noreferrer")
                img(src="/assets/img/instagram.svg" alt="instagram" width="auto" height="auto")
        li
            a.btn(aria-label="Send Mail" href="mailto:hello@y-lang.eu" target="_blank" title="E-Mail")
                img(src="/assets/img/mail.svg" alt="mail" width="auto" height="auto")
    .credits Icons erstellt von 
        a(href="https://www.freepik.com" title="Freepik") Freepik
        br
        |  from 
        a(href="https://www.flaticon.com/de/" title="Flaticon") www.flaticon.com
        