doctype html
html(lang='de')
    include ../include/header.pug
        title Portfolio - Yannick Lang

    body
        .list
            img(src='/assets/img/logo.svg' alt='logo')
            h1 Yannick Lang - Portfolio
            ul
                li
                    a(href='https://github.com/layaxx') GitHub
                li
                    a(href='https://steamcommunity.com/id/layaxx2go/') Steam
                li
                    a(href='https://www.instagram.com/yannicklang_') Instagram
                li
                    a(href="#mailgo" data-address="layaxx" data-domain="gmx.de") Mail 
            
            p(style='text-align:center') 
                em Diese Seite befindet sich aktuell im Aufbau