doctype html
html(lang='en')
    include include/header.pug
        title About - Yannick Lang
        //- Mailgo  
        script(defer src="https://cdn.jsdelivr.net/npm/mailgo@0.9.9/dist/mailgo.min.js")
        //- FontAwesome
        script(src="https://kit.fontawesome.com/40b9c85330.js" crossorigin="anonymous")

    body
        .list
            a(href='/index.html')
                img(src='/assets/img/logo.svg' alt='logo')
            h1 Yannick Lang
            h2 Filmmaker. Photographer. Developer.
            
            p(style='margin:2rem;') This site is currently under construction. Check back later or find out more about me now by following the links below.

        
        include include/footer.pug