doctype html
html(lang='de')
    include include/header.pug
        title Yannick Lang - Homepage
        //- Mailgo  
        script(defer src="https://cdn.jsdelivr.net/npm/mailgo@0.9.9/dist/mailgo.min.js")

    body
        .list
            img(src='/assets/img/logo.svg' alt='logo')
            h1 Yannick Lang
            h2 Filmmaker. Photographer. Developer.
            
            .buttons
                a(href='/portfolio/index.html')
                    button(type='button') PORTFOLIO
                a(href='/about.html')
                    button(type='button') ABOUT

        footer
            a(title="Unknown author / Public domain" href="https://commons.wikimedia.org/wiki/File:Kmii_logo_de.jpg")
                img(alt="Kmii logo de" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Kmii_logo_de.jpg/253px-Kmii_logo_de.jpg" style='max-width:100px')
            ul
                li Copyright &copy; Yannick Lang 2020
                li
                    a(href='https://github.com/layaxx') GitHub
                li
                    a(href='https://steamcommunity.com/id/layaxx2go/') Steam
                li
                    a(href='https://www.instagram.com/yannicklang_') Instagram
                li
                    a(href="#mailgo" data-address="layaxx" data-domain="gmx.de") Mail 
                li 
                    a(href="sitemap.html") Sitemap
