doctype html
html(lang='en')
    include include/header.pug
        title Yannick Lang - Homepage

    body
        .list
            img.logo(src='/assets/img/portrait.jpg' alt='Yannick') 
            
            .name
                img(src='/assets/img/logo.svg' alt='logo')
                h1 Yannick Lang
            
            h2 About Me

            section 
                span Computer Science student (MSc Applied Computer Science) & former tutor 
                span @ 
                    a(href='https://www.uni-bamberg.de/' target="_blank" aria-label="Uni Bamberg" title="Uni Bamberg" rel="noreferrer") University of Bamberg 

            section 
                span Director of IT, Coordinator of Photography & former President 
                span @ 
                    a(href='https://feki.de/' target="_blank" aria-label="Feki.de" title="Feki.de" rel="noreferrer") Feki.de e.V.

            section 
                span Filmmaker & Developer 
                span @ 
                    a(href='https://arbeitskreis.video/' target="_blank" aria-label="AK Video" title="AK Video" rel="noreferrer") Arbeitskreis Video

            section
                span Founding Member, Records Clerk & Developer
                span @ 
                    a(href='https://a-u-b.org/' target="_blank" aria-label="AUB Deutschland" title="AUB Deutschland" rel="noreferrer") AUB Deutschland e.V.

            h2 CV 

            p My current CV (as of January 2026) is available 
                a(href='https://github.com/layaxx/cv/releases/download/2026-01-20/cv-english.pdf' target='_blank' rel='noreferrer') here (PDF, english)
                |  or 
                a(href='https://github.com/layaxx/cv/releases/download/2026-01-20/cv-german.pdf' target='_blank' rel='noreferrer') here (PDF, german).

            h2 Projects

            section.project#first-project
                .project-head
                    .title 
                        a(href='https://new.feki.de/' target='_blank' rel='noreferrer') new.feki.de
                    .tags 
                        span.tag Next.js
                        span.tag React
                        span.tag Typescript
                        span.tag Strapi CMS

                p  – The new website of Feki.de e.V., built with Next.js, React and Typescript, using Strapi as a headless CMS. Includes a custom event calendar, job market and various interactive elements.

            section.project 
                .project-head
                    .title RSS Feed Aggregator (Dashboard)
                    .tags 
                        span.tag Next.js
                        span.tag Tailwind CSS
                        span.tag PostgreSQL

                p  – The website of the Arbeitskreis Video at the University of Bamberg, built with HTML, SCSS and JavaScript. Features a custom video gallery and event calendar.

                .links 
                    a(href="https://github.com/layaxx/dashboard/" target='_blank' rel='noreferrer') GitHub      
                    a(href="https://demo.dash.y-lang.eu/" target='_blank' rel='noreferrer') Demo

            section.project 
                .project-head
                    .title Inventory Management System for UniShop Bamberg
                    .tags 
                        span.tag Next.js
                        span.tag LaTeX
                        span.tag PostgreSQL

                p  – Developed during my tenure as lead at the University of Bamberg’s official merchandise shop; features automated PDF report generation for real-time inventory tracking.

                .links 
                    a(href="https://github.com/layaxx/unishop-inventory/" target='_blank' rel='noreferrer') GitHub


            section.project 
                .project-head
                    .title Master's Thesis: "Design and Implementation of a Framework for Automated Video Analysis and Indexing"
                    .tags 
                        span.tag Python
                        span.tag pytorch
                        span.tag Transformer Models 
                        span.tag Regular Languages

                p  – Development of a system for the automatic induction of global constraints to enforce structural correctness in sequence models.

                .links 
                    a(href="https://github.com/layaxx/masters-thesis/" target='_blank' rel='noreferrer') GitHub


        
        include include/footer.pug
        
