doctype html
html(lang='en')
    include include/header.pug
        title Yannick Lang - Homepage
        //- Mailgo  
        script(defer src="https://cdn.jsdelivr.net/npm/mailgo@0.9.9/dist/mailgo.min.js")
        //- FontAwesome
        script(src="https://kit.fontawesome.com/40b9c85330.js" crossorigin="anonymous")

    body
        .list
            img(src='/assets/img/logo.svg' alt='logo')
            h1 Yannick Lang
            h2 Filmmaker. Photographer. Developer.
            
            .buttons
                a(href='/portfolio/index.html')
                    button(type='button') PORTFOLIO
                a(href='/about.html')
                    button(type='button') ABOUT

        include include/footer.pug