doctype html
html(lang='en')
    include include/header.pug
        title Yannick Lang - Homepage

    body
        .list
            img(src='/assets/img/logo.svg' alt='logo')
            h1 Yannick Lang

            section 
                span Computer Science student & tutor 
                span @ 
                    a(href='https://www.uni-bamberg.de/' target="_blank" aria-label="Uni Bamberg" title="Uni Bamberg" rel="noreferrer") University of Bamberg 

            section 
                span Coordinator of Photography & IT Director 
                span @ 
                    a(href='https://feki.de/' target="_blank" aria-label="Feki.de" title="Feki.de" rel="noreferrer") Feki.de e.V.

            section 
                span Filmmaker & Developer 
                span @ 
                    a(href='https://arbeitskreis.video/' target="_blank" aria-label="AK Video" title="AK Video" rel="noreferrer") Arbeitskreis Video

        include include/footer.pug