doctype html
html(lang='de')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Yannick Lang
        //- Google Fonts
        link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet")
        //- Mailgo  
        script(defer src="https://cdn.jsdelivr.net/npm/mailgo@0.9.9/dist/mailgo.min.js")
        //- Stylesheet
        link(rel="stylesheet" href="css/styles.css")

    body       
        h1 Full Website is not yet available
        .list
            p Find more information about me:
            ul
                li
                    a(href='https://github.com/layaxx') GitHub
                li
                    a(href='https://steamcommunity.com/id/layaxx2go/') Steam
                li
                    a(href='https://www.instagram.com/yannicklang_') Instagram
                li
                    a(href="#mailgo" data-address="layaxx" data-domain="gmx.de") Mail 