doctype html
html(lang='en')
    include include/header.pug
        title Yannick Lang - Homepage

    body
        .list
            img.logo(src='/assets/img/portrait.jpg' alt='Yannick') 
            
            .name
                img(src='/assets/img/logo.svg' alt='logo')
                h1 Yannick Lang

            section 
                span Computer Science student (MSc Applied Computer Science) & former tutor 
                span @ 
                    a(href='https://www.uni-bamberg.de/' target="_blank" aria-label="Uni Bamberg" title="Uni Bamberg" rel="noreferrer") University of Bamberg 

            section 
                span Director of IT, Coordinator of Photography & former President 
                span @ 
                    a(href='https://feki.de/' target="_blank" aria-label="Feki.de" title="Feki.de" rel="noreferrer") Feki.de e.V.

            section 
                span Filmmaker & Developer 
                span @ 
                    a(href='https://arbeitskreis.video/' target="_blank" aria-label="AK Video" title="AK Video" rel="noreferrer") Arbeitskreis Video

            section
                span Founding Member, Minutes taker & Developer
                span @ 
                    a(href='https://a-u-b.org/' target="_blank" aria-label="AUB Deutschland" title="AUB Deutschland" rel="noreferrer") AUB Deutschland e.V.
        
        include include/footer.pug
        
