doctype html
html(lang='en')
    include include/header.pug
        title Yannick Lang - Homepage

    body
        .list
            img(src='/assets/img/logo.svg' alt='logo')
            h1 Yannick Lang
            h2 filmmaker. photographer. developer.

        include include/footer.pug