doctype html
html(lang='en')
    include include/header.pug
        title Sitemap - Yannick Lang
        //- Mailgo  
        script(defer src="https://cdn.jsdelivr.net/npm/mailgo@0.9.9/dist/mailgo.min.js")
        //- FontAwesome
        script(src="https://kit.fontawesome.com/40b9c85330.js" crossorigin="anonymous")

    body
        .list
            a(href='/index.html')
                img(src='/assets/img/logo.svg' alt='logo')
            h1 Yannick Lang
            h2 Filmmaker. Photographer. Developer.
        
            ul
                li(style='display:flex; margin-left: 1.5rem;')
                    a(href='/index.html') &bull; 
                        span(style='text-decoration: underline;') Homepage
                li(style='display:flex; margin-left: 1.5rem;')
                    a(href='/about.html') &bull; 
                        span(style='text-decoration: underline;') About Me
                li(style='display:flex; margin-left: 1.5rem;')
                    a(href='/portfolio/index.html') &bull; 
                        span(style='text-decoration: underline;') Portfolio

        footer
            .row
                .column
                    if new Date().getFullYear() === 2020
                        p Copyright &copy; Yannick Lang 2020
                    else 
                        p!= "Copyright &copy; Yannick Lang 2020-" + new Date().getFullYear()
                .column
                    ul
                        li
                            a.btn.btn-dark.btn-social.mx-2.portfolio-link(href='https://www.github.com/layaxx' aria-label="GitHub")
                                i.fab.fa-github-square
                        li
                            a.btn.btn-dark.btn-social.mx-2.portfolio-link(href='https://steamcommunity.com/id/layaxx2go/' aria-label="Steam")
                                i.fab.fa-steam-square
                        li
                            a.btn.btn-dark.btn-social.mx-2.portfolio-link(href='https://www.instagram.com/yannicklang_' aria-label="Instagram")
                                i.fab.fa-instagram-square
                        li
                            a.btn.btn-dark.btn-social.mx-2.portfolio-linka(href="#mailgo" data-address="layaxx" data-domain="gmx.de" aria-label="Send Mail")
                                i.fas.fa-envelope-square
                .column
                    p   
                        a(href='/sitemap.html') Sitemap