doctype html
html(lang='en')
    include include/header.pug
        title Sitemap - Yannick Lang
        //- Mailgo  
        script(defer src="https://cdn.jsdelivr.net/npm/mailgo@0.9.9/dist/mailgo.min.js")
        //- FontAwesome
        script(src="https://kit.fontawesome.com/40b9c85330.js" crossorigin="anonymous")

    body
        .list
            a(href='/index.html')
                img(src='/assets/img/logo.svg' alt='logo')
            h1 Yannick Lang
            h2 Filmmaker. Photographer. Developer.
        
            ul
                li(style='display:flex; margin-left: 1.5rem;')
                    a(href='/index.html') &bull; 
                        span(style='text-decoration: underline;') Homepage
                li(style='display:flex; margin-left: 1.5rem;')
                    a(href='/about.html') &bull; 
                        span(style='text-decoration: underline;') About Me
                li(style='display:flex; margin-left: 1.5rem;')
                    a(href='/portfolio/index.html') &bull; 
                        span(style='text-decoration: underline;') Portfolio

        include include/footer.pug