body {
  font-family: "IBM Plex Mono", monospace;
  color: white;
  background: rgb(120, 49, 146);
  background: linear-gradient(
    114deg,
    rgba(120, 49, 146, 1) 0%,
    rgba(89, 188, 200, 1) 100%
  );
  background-attachment: fixed;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
}

footer {
  .credits {
    margin-top: 1rem;
  }
  display: block;
  text-align: center;
  font-size: 0.9rem;
  margin: auto;
  padding: 10px;
  margin-top: 4rem;

  ul {
    text-align: center;
    padding-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;
    li {
      display: inline-flex;
      margin-inline: 2rem;
      img {
        width: 2rem;
      }
    }
  }
  @media only screen and (max-width: 315px) {
    ul > li {
      margin-inline: 0.5rem;
    }
  }

  /* unvisited link */
  a:link {
    color: gainsboro;
  }
  /* visited link */
  a:visited {
    color: white;
  }
  /* mouse over link */
  a:hover {
    color: white;
  }
  /* selected link */
  a:active {
    color: white;
  }
}

.btn > img {
  width: 2rem;
}

.flexbox {
  align-items: baseline !important;
  flex-wrap: wrap;
  display: inline-flex;
}

div.list {
  background-color: white;
  padding: 2rem;
  color: #333;
  margin: auto;
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 1.75;
  @media only screen and (min-width: 900px) {
    width: 60%;
  }
  h2 {
    color: rgba(120, 49, 146, 1);
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 50%;
    @media only screen and (min-width: 750px) {
      width: 30%;
    }
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

::selection {
  background: #f69021;
  color: #fff;
  text-shadow: none;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
