body {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    background: rgb(120, 49, 146);
    background: linear-gradient(114deg, rgba(120, 49, 146, 1) 0%, rgba(89, 188, 200, 1) 100%);
    background-attachment: fixed;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
}

div.list {
    margin: auto;
    padding: 10px;
    font-size: 2rem;
    line-height: 1.75;
    @media only screen and (min-width: 900px) {
        width: 50%;
    }
    ul {
        text-align: center;
        padding-inline-start: 0;
        margin-bottom: 3.5rem;
        li {
            display: inline-block;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            font-size: 1.5rem;
        }
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        width: 50%;
        @media only screen and (min-width: 750px) {
            width: 30%;
        }
    }
    div.buttons {
        position: relative;
        button {
            font-family: "IBM Plex Mono", monospace;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin-top: 1rem;
            cursor: pointer;
            padding: 1.25rem 2.5rem;
            font-size: 1.125rem;
            font-weight: 700;
            text-transform: uppercase!important;
            color: #fff;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            background-color: transparent;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid white;
            line-height: 1.5;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
    }
    /* unvisited link */
    a:link {
        color: gainsboro;
    }
    /* visited link */
    a:visited {
        color: white;
    }
    /* mouse over link */
    a:hover {
        color: white;
    }
    /* selected link */
    a:active {
        color: white;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
}

::selection {
    background: #f69021;
    color: #fff;
    text-shadow: none;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}